body{
margin:0px;
background-color:#d89327;                  /*#fbfcf6;*/
background-image:url(images/bg02.gif);
background-attachment:fixed;
font-family:verdana, arial, helvetica, sans-serif;
font-size:12pt;
color:#555;
}

#main-content{
margin:auto;
margin-top:1em;
margin-bottom:3em;
width:980px;
min-height:720px;
/*border:1px solid #e1bf84;*/
background-image:url(images/main_bckg.png);
background-attachment:fixed;
background-repeat:repeat-x;
background-color:#fbfcf6;
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
padding-top:0px;
border-radius:25px;
}

#selecteur-langue{
width:200px;
font-size:0.7em;
text-transform:uppercase;
text-align:center;
float:left; 
margin-top:8px;
}

#main-title{
height:120px;
line-height:110px;
margin:auto;
font-family: 'Sansita One', cursive;
font-size:3em;
color:#333;
padding-left:280px;
/*background-image:url(images/main_title.png);
background-position:center center;
background-repeat:no-repeat;*/
text-shadow:0px 2px 2px rgba(200, 200, 200, 1);
}

#main-title a {
color:#333;
}

#social-zone{
height:60px;
width:150px;
left:830px;
top:90px;
position:relative;
left:760px;
top:-18px;
}

#facebook,
#twitter,
#google{
width:40px;
height:60px;
float:right;
margin-left:5px; 
}

#facebook a,
#twitter a,
#google a{
display:block;
width:40px;
height:60px;
background-repeat:no-repeat;
background-position:center bottom;
}

#facebook a{
background-image:url(images/logo_facebook.png);
}
#twitter a{
background-image:url(images/logo_twitter.png);
}
#google a{
background-image:url(images/logo_google_plus.png);
}

#facebook a:hover,
#twitter a:hover,
#google a:hover{
background-position:center 4px;
}



#header{
width:948px;
height:455px;
background-image:url(images/photo_bckg.png);
background-repeat:no-repeat;
margin:auto;
}

#header_map{
width:896px;
height:394px;
background-repeat:no-repeat;
margin:auto;
border:1px solid gray;
}

#map{
width:896px;
height:394px;
}

#photo{
width:896px;
height:394px;
background-image:url(images/photo_01.png);
background-repeat:no-repeat;
margin:auto;
z-index:3;
position:relative;
top:-35px;
}

#text-area{
width:278px;
height:394px;
float:right;
background-image:url(images/text_bckg.png);
background-repeat:no-repeat;
color:#fff8eb;
}

#text-area h3{
width:245px;
color:#fff8eb;
padding:10px 8px 0px 8px;
text-align:right;
border-bottom:1px solid #fff8eb;
margin:auto;
font-size:1.1em;
}


#text-area p{
font-size:0.9em;
padding:10px 8px;
text-align:justify;
}

#result{
}

#search-engine{
width:892px;
height:107px;
background-image:url(images/search_engine.png);
background-repeat:no-repeat;
margin:auto;
padding-top:5px;
}

#search-engine h3, form{
margin-left:70px;
}

#search-engine #address{
margin-top:15px;
width:540px;
height:30px;
background-color:transparent;
border:none;
font-size:1.8em;
}

#search-engine #address:focus{
outline: none;
}

#search-engine #search{
margin-top:10px;
margin-left:5px;
width:210px;
height:40px;
background-color:transparent;
border:none;
font-size:1.8em;
color:#fff;
cursor: pointer;
}

.ui-autocomplete-loading {
background: white url(images/spinner.gif) right center no-repeat;
}

.ui-autocomplete {
background: white url(images/google.png) right bottom no-repeat;
border-top: 1px dashed gray;
border-left: 3px solid gray;
border-right: 3px solid gray;
border-bottom: 3px solid gray;
}

#content{
padding:0px 1em;
}

.clear-both{
clear:both;
}

#content .gmnoprint div a {
text-decoration: none;
border-bottom: none;
}

#content .gmnoprint div {
text-align: center;
}

#content .gmnoprint div img {
border: 2px solid gray;
margin-top: 5px;
}

.heb-group-link {
text-decoration:none;
background-color: #FFCE68;
padding:2px;
margin-left:10px;
}


.picture {
float:left;
margin:2px;
text-align:center;
}


/*** FOOTER ***/
#footer{
border:1px solid #ddd;
border-radius:12px;
width:97%;
margin:auto;
padding-top:5px;
margin-bottom:10px;
background-color:#444;
color:#888;
}

#logo-gdw{
text-align:center;
font-size:0.8em;
width:920px;
margin:auto; 
border-bottom:1px dotted #666;
}
/*** texte sous logo ***/
.texte-site-gdw{
color:#cdcdcd;
}

.linksgdw{
color:#cdcdcd;
text-decoration:underline;    
}

.linksgdw:hover{
color:#fff;
}


/*** PARTENAIRE ***/ 
#partenaire{
width:91%;
margin:auto;
padding-top:40px;
}

#logo-tourisme-wallonie,
#logo-wallonie-bruxelles-tourisme,
#feder-logo{
width:260px;
float:left;
margin:0px 10px 10px 0px;
font-size:0.7em;
text-align:center;
}

#made-by{
width:920px;
margin:auto; 
border-top:1px dotted #666;
margin-top:10px;
margin-bottom:10px;    
}

#made-by a{
color:#aaa;
}

#made-by a:hover{
color:#ddd;
text-decoration:underlines;
}


#affinitic,
#plone{
width:300px;
text-align:center;
font-size:0.7em;
padding-top:5px;
} 

#affinitic{
float:left;
}

#plone{
float:right;
}

.break-float{
clear:both;
}

 




/*** DESCRIPTION HEBERGEMENT ***/

/*
 
Titre

--------------------------------------
Description
--------------------------------------
 
----------------------   ----------------------   ---------------
Infos                     Localistaion              Contacts
                          
type heb classement       coordonnées               infos proprio
capacité
type lit                  bouton intinéraire

icone confort 
chien fumer

tarif
---------------------  ------------------------    --------------

*/



#description-chambre{
width:90%;
margin:auto;
}

#info-generale,
#info-chambre,
#localisation,
#proprio{
border:1px solid #ddd;
border-radius:12px;    
}

#info-chambre,
#localisation,
#proprio{
width:260px;
min-height:200px;
float:left;
margin:10px 10px;
}

.itinerary {
text-align:center;
}
