body{
margin:0px;
background-color:#d89327;                  /*#fbfcf6;*/
background-image:url(images/bg02.gif);
background-attachment:fixed;
font-family:verdana, arial, helvetica, sans-serif;
font-size:12pt;
color:#555;
}

#main-content{
margin:auto;
margin-top:3em;
width:980px;
min-height:720px;
/*border:1px solid #e1bf84;*/
background-image:url(images/main_bckg.png);
background-attachment:fixed;
background-repeat:repeat-x;
background-color:#fbfcf6;
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
padding-top:30px;
}

#main-title{
height:50px;
margin:auto;
font-family: 'Sansita One', cursive;
font-size:3em;
color:#333;
text-align:center;
/*background-image:url(images/main_title.png);
background-position:center center;
background-repeat:no-repeat;*/
margin-bottom:20px;
text-shadow:0px 2px 2px rgba(200, 200, 200, 1);
}

#main-title a {
color:#333;
}

#header{
padding-top:25px;
width:948px;
height:432px;
background-image:url(images/photo_bckg.png);
background-repeat:no-repeat;
margin:auto;
}

#header_map{
width:896px;
height:394px;
background-repeat:no-repeat;
margin:auto;
border:1px solid gray;
}

#map{
width:896px;
height:394px;
}

#photo{
width:896px;
height:394px;
background-image:url(images/photo_01.png);
background-repeat:no-repeat;
margin:auto;
}

#text-area{
width:278px;
height:394px;
float:right;
background-image:url(images/text_bckg.png);
background-repeat:no-repeat;
color:#fff8eb;
}

#text-area h3{
width:245px;
color:#fff8eb;
padding:10px 8px 0px 8px;
text-align:right;
border-bottom:1px solid #fff8eb;
margin:auto;
font-size:1.1em;
}


#text-area p{
font-size:0.9em;
padding:10px 8px;
text-align:justify;
}

#result{
}

#search-engine{
width:892px;
height:107px;
background-image:url(images/search_engine.png);
background-repeat:no-repeat;
margin:auto;
padding-top:5px;
}

#search-engine h3, form{
margin-left:70px;
}

#search-engine #address{
margin-top:15px;
width:540px;
height:30px;
background-color:transparent;
border:none;
font-size:1.8em;
}

#search-engine #address:focus{
outline: none;
}

#search-engine #search{
margin-top:10px;
margin-left:5px;
width:210px;
height:40px;
background-color:transparent;
border:none;
font-size:1.8em;
color:#fff;
cursor: pointer;
}

.ui-autocomplete-loading {
background: white url(images/spinner.gif) right center no-repeat;
}

.ui-autocomplete {
background: white url(images/google.png) right bottom no-repeat;
border-top: 1px dashed gray;
border-left: 3px solid gray;
border-right: 3px solid gray;
border-bottom: 3px solid gray;
}

#content{
padding:0px 1em;
}

.clear-both{
clear:both;
}

#content .gmnoprint div a {
text-decoration: none;
border-bottom: none;
}

#content .gmnoprint div {
text-align: center;
}

#content .gmnoprint div img {
border: 2px solid gray;
margin-top: 5px;
}

.heb-group-link {
text-decoration:none;
background-color: #FFCE68;
padding:2px;
margin-left:10px;
}

div.itinerary {
text-align:center;
margin-top:-13px;
}

.picture {
float:left;
margin:2px;
text-align:center;
}
