body{
margin:0px;
background-color:#d89327;                  /*#fbfcf6;*/
background-image:url(images/bg02.gif);

font-family:verdana, arial, helvetica, sans-serif;
font-size:12pt;
color:#555;
}

#main-content{
margin:auto;
margin-top:3em;
width:980px;
min-height:720px;
/*border:1px solid #e1bf84;*/
background-image:url(images/main_bckg.png);
background-attachment:fixed;
background-repeat:repeat-x;
background-color:#fbfcf6;
box-shadow:4px 4px 10px rgba(0,0,0,0.5);
padding-top:30px;
}

#main-title{
height:50px;
margin:auto;
background-image:url(images/main_title.png);
background-position:center center;
background-repeat:no-repeat;
margin-bottom:20px;
}

#header{
width:948px;
height:457px;
background-image:url(images/photo_bckg.png);
background-repeat:no-repeat;
padding-top:25px;
margin:auto;
}

#photo{
width:896px;
height:394px;
background-image:url(images/photo_01.png);
background-repeat:no-repeat;
margin:auto;
}

#text-area{
width:278px;
height:394px;
float:right;
background-image:url(images/text_bckg.png);
background-repeat:no-repeat;
font-size:0.9em;
color:#ffca78;
padding:10px;
margin-right:-20px;
}

#result{
}

#search-engine{
width:892px;
height:107px;
background-image:url(images/search_engine.png);
background-repeat:no-repeat;
margin:auto;
padding-top:5px;
}

#search-engine h3, form{
margin-left:70px;
}

#search-engine #address{
margin-top:15px;
width:540px;
height:30px;
background-color:transparent;
border:none;
font-size:1.8em;
}

#search-engine #search{
margin-top:10px;
margin-left:5px;
width:210px;
height:40px;
background-color:transparent;
border:none;
font-size:1.8em;
color:#fff;
}



.clear-both{
clear:both;
}